@import '../abstract/mixins';
@import '../abstract/variables';

.article{
  @include flexDisplay(col, 8.8rem, initial, center);
  padding: 2.4rem 0 6.4rem;
  width: 100%;

  &-header{
    width: 100%;
    @include flexDisplay(col, 4.8rem, initial, center);

    &__details{
      width: 100%;
      @include flexDisplay(row, auto, center, space-between);
      padding: 1.6rem 2.4rem;
      border-bottom: solid 1px $color--black-0;

      &-author{
        @include flexDisplay(row, 2.4rem, center, initial);

        img{
          width: 4.8rem;
          height: 4.8rem;
          border-radius: 50%;
        }

        &__text{
          @include flexDisplay(col, 0.8rem, initial, center);
          strong {
            display: inline-block;
            font-size: 2rem;
            font-weight: 500;
            color: $color--black-0;
          }
  
          p{
            display: inline-block;
            font-size: 1.6rem;
            color: $color--main-0;
          }
        }
      }

      &-date{
        font-size: 2rem;
        font-weight: 500;
      }
    }

    &__heading{
      font-size: 3.125rem;
      max-width: 120rem;
      text-align: center;
      font-weight: 500;
      color: $color--main-80;
    }
  }

  &-resume{
    display: grid;
    grid-template-columns: 70fr 30fr;
    column-gap: 4.8rem;

    &__aside{
      @include flexDisplay(col, 8rem, initial, end);
    }
  }

  &-body{
    width: 80%;
  }
}