@import '../abstract/mixins';
@import './aside.scss';

.results-section{
  width: 100%;
  @include flexDisplay(col, 4.8rem, initial, center);

  .results{
    &-resume{
      width: 100%;

      &__search{
        font-size: 2.5rem;
        font-weight: 500;
      }

      &__count{
        font-size: 2rem;
        display: inline-block;
        padding: 0 2.4rem;
      }
    }

    &__message{
      font-size: 2.5rem;
      font-weight: 400;
      text-align: center;

      &-sub{
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
      }
    }

    &-articles{
      @include flexDisplay(col, 4.8rem, initial, center);
      width: 80%;
    }

    &-authors{
      width: 100%;
      padding: 4.8rem 0 8.8rem;
      @include flexDisplay(row, initial, center, center);
    }
  }
}