@use '../abstract/variables';

.alert{
  position: fixed;
  top: -100%;
  left: 50%;
  width: 100%;
  max-width: 50rem;
  transform: translateX(-50%);
  padding: 2.4rem 4.8rem;
  transition: all 0.5s ease;
  z-index: 7;

  p{
    font-size: 1.8rem;
    color: inherit;
    text-align: center;
    font-weight: 500;
  }

  &--error{
    background-color: rgba(variables.$color--error-dark, 0.5);
    color: variables.$color--error-dark;
  }
  &--success{
    background-color: rgba(variables.$color--success-base, 0.5);
    color: variables.$color--success-dark;
  }
  &--warn{
    background-color: rgba(variables.$color--warn-base, 0.3);
    color: variables.$color--warn-dark;
  }

  &-display{
    top: 0;
  }
}