@import '../abstract/mixins';
@import '../abstract/variables';

.crop-image{
  background-color: $color--grey-0;
  padding: 2.4rem 3.6rem;
  overflow: hidden;
  @include flexDisplay(col, 2.4rem, center, center);
  // position: relative;
  z-index: 0;
  box-sizing: content-box;

  width: 100%;
  max-width: 80rem;
  pointer-events: all;


  &__header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: solid 1px $color--black-0;

    &-title{
      font-size: 1.8rem;
      color: $color--black-0;
      text-align: center;
      font-weight: 500;
    }

    &-close{
      &__icon{
        width: 2.4rem;
        height: 2.4rem;
        color: $color--black-0;

        &:hover{
          color: $color--main-0;
        }
      }

      &:hover{
        &__icon{
          color: $color--main-0;
        }
      }
    }
  }

  &__preview{
    max-height: 42rem;
    max-width: 80rem;
  }

  &__buttons{
    width: 100%;
    padding: 1.2rem 2.4rem;
    @include flexDisplay(row, initial, center, space-between)
  }

  &__button{
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;

    &--accept{
      font-weight: 500;
      background-color: $color--main-0;
      color: $color--grey-0;
      transition: all 0.3s ease-in;

      &:hover{
        background-color: $color--main-10;
      }
    }

    &--cancel{
      color: $color--black-0;
      font-weight: 300;
      position: relative;

      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transition: transform 0.2s ease-in;
        background-color: $color--black-0;
        transform-origin: left;
        bottom: 0;
        left: 0;
      }

      &:hover{
        &::after{
          transform: scaleX(1);
        }
      }
    }
  }
}