@import '../abstract/variables';
@import '../abstract/mixins';

.menu-aside{
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  min-width: 40rem;
  max-width: 100%;
  background-color: $color--grey-0;
  box-shadow: $shadow--big;
  padding: 4.8rem;
  font-size: 1.6rem;
  transition: all 0.3s;

  &__header{
    @include flexDisplay(row, initial, center, space-between);
    padding: 1.2rem 0;
    border-bottom: solid 1px $color--black-0;
    margin-bottom: 3.2rem;

    &-name{
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
  
  menu{
    @include flexDisplay(col, 2.4rem, center, flex-start);
    list-style: none;
  }

  &__link,
  &__btn{
    @include flexDisplay(row, 1.2rem, center, flex-start);

    &:hover{
      color: $color--main-0;

      .menu-aside__icon{
        fill: $color--main-0;
      }
    }
  }

  &__link{
    &,
    &:visited,
    &:link{
      color: $color--black-0;
      text-decoration: none;
    }

    &:hover{
      color: $color--main-0;
    }

    &__link-active{
      &,
      &:visited,
      &:link{
        color: $color--util-1;
      }
    }
  }

  &__btn{
    font-size: 1.6rem;
    font-weight: 300;
    gap: 1.2rem;
  }

  &__icon{
    // height: 2.4rem;
    // width: 2.4rem;
    fill: $color--black-0;
  }

  &--open{
    right: 0;
    transition: right 0.3s;
  }
}