@import '../abstract/variables';

.menu{
  display: flex;
  align-items: center;
  gap: 3.2rem;

  &__icon{
    &,
    &:link,
    &:visited{
      width: 3.2rem;
      height: 3.2rem;
      color: $color--black-0;
      outline: none;
      text-decoration: none;
      position: relative;
      display: flex;
      align-items: center;
    }

    &:hover,
    &:active{
      color: $color--main-0;
    }

    &-active{
      &,
      &:link,
      &:visited{
        color: $color--util-1;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }

  &__text{
    &,
    &:link,
    &:visited{
      font-size: 1.6rem;
      color: $color--black-0;
      outline: none;
      text-decoration: none;
    }

    &:hover,
    &:active{
      color: $color--main-0;
    }

    &-active{
      &,
      &:link,
      &:visited{
        color: $color--black-10;
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    &--main{
      font-size: 1.6rem;
      outline: none;
      text-decoration: none;
      background-color: $color--main-0;
      color: $color--grey-0;
      padding: 0.8rem 1.2rem;
      transition: all 0.3s ease-in;

      &:hover{
        background-color: $color--main-10;
      }

      &:active{
        transform: translateY(2px)
      }

      &-active{
      &,
      &:link,
      &:visited{
        background-color: $color--black-10;
        color: $color--grey-0;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
    }
  }

  &__avatar{
    height: 4rem;
    width: 4rem;
    position: relative;
    border-radius: 50rem;
    overflow: hidden;

    &.menu__icon-active{
      outline: solid 2px $color--util-1;
      cursor: not-allowed;
      pointer-events: none;
    }

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
}