@import '../abstract/mixins';
@import '../abstract/variables';

.settings-menu{
  padding: 1.6rem 2.4rem;
  list-style: none;
  @include flexDisplay(col, 1.6rem, flex-start, initial);

  li{
    font-size: 1.8rem;
  }

  &__link{
    &,
    &:link,
    &:visited{
      text-decoration: none;
      color: $color--black-0
    }

    &:hover{
      color: $color--main-0;
    }

    &--active{
      &,
      &:link,
      &:visited{
        color: $color--main-0;
        pointer-events: none;
      }
    }
  }
}