@import '../abstract/mixins';
@import '../abstract/variables';

.skeleton{
  &--nav-menu {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    &__option{
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    &__avatar{
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  &--form{
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    width: 45%;
    height: 40rem;
  }

  &--page{
    width: 100%;
    min-height: 100vh;
  }

  &--profile{
    width: 100%;
    @include flexDisplay(col, initial, initial, center);

    &__pictures{
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 12rem;
    }

    &__picture{
      overflow: hidden;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &--cover{
        width: 90%;
        aspect-ratio: 16/9;
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
      }

      &--profile{
        width: 24rem;
        height: 24rem;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
      }
    }

    &__info{
      @include flexDisplay(col, 3.2rem, initial, center);
      min-width: 50%;
      max-width: 100%;
      height: 30rem;
      padding: 4.8rem 6.4rem;
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
  }

  &--container{
    &-main{
      width: 80%;
      max-width: 100%;
      align-items: center;
      margin: auto;
      padding: 12.8rem 0 14.8rem;
      gap: 12rem;
    }
  }

  &--settings{
    &__photo{
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;

      &--profile{
        width: 12.6rem;
        height: 12.6rem;
        border-radius: 50%;
        border: 1px solid $color--black-0;
      }

      &--cover{
        width: 25.2rem;
        aspect-ratio: 16/9;
        object-fit: cover;
        border: 1px solid $color--black-0;
      }

    }

    &__input{
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      width: 100%;
      padding: 0.8rem 1.2rem;
      line-height: 1.6;
      font-size: 1.8rem;
      color: transparent;
    }

    &__container{
      width: 100%;
      @include flexDisplay(col, 2.4rem, flex-start, flex-start);
    }
  }

  &--article-prev{
     &-card{
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1.6rem;
      box-shadow: $shadow--medium;
      // border-top-left-radius: 25px;
      // border-bottom-right-radius: 25px;

      overflow: hidden;
    }

    &-img{
      width: 100%;
      position: relative;
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }

    &-text-box{
      @include flexDisplay(col, 2.4rem, initial, center);
      padding: 2.4rem 4.8rem;

      .title{
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
        height: 2rem;
        width: 50%;
      }

      .resume{
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
        height: 4.8rem;
        width: 100%;
      }
    }

    &-footer{
      width: 100%;
      @include flexDisplay(row, unset, center, space-between);

      .button{
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
        height: 3.2rem;
        width: 10rem;
      }
    }

    &-author{
      @include flexDisplay(row, 1.2rem, center, initial);

      .author-picture{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
      }

      &__info{
        .author-name{
          height: 2rem;
          width: 15rem;
          background: #eee;
          background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
          background-size: 200% 100%;
          animation: 1.5s shine linear infinite;
        }
      }
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
