@import './abstract/variables';
@import './abstract/mixins';
@import './abstract/buttons';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: $color--grey-0;
  color: $color--black-0;
  position: relative;
  overflow-x: hidden;

  &.modal-open{
    overflow: hidden;
    position: fixed;
  }
}

.heading--secondary{
  font-size: 2.5rem;
  font-weight: 400;
}

.container{
  display: flex;
  flex-direction: column;

  &--main{
    width: 80%;
    max-width: 100%;
    align-items: center;
    margin: auto;
    padding: 12.8rem 0 14.8rem;
    gap: 12rem;
  }

  &--empty{
    padding: 6.4rem 0;
  }

  &--buttons{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2.4rem;
    column-gap: 2.4rem;
  }
}