@use './abstract/variables';
@use './pages/main.scss';
@forward './abstract/variables';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.light{
  --color--main-dark--2: #{variables.$color--main-dark--2};
  --color--main-dark--1: #{variables.$color--main-dark--1};
  --color--main-base: #{variables.$color--main-base};

  --color--background: #{variables.$color--background};

  --color--lines: #{variables.$color--lines};

  --color--text-emphasys: #{variables.$color--text-emphasys};
  --color--text-base: #{variables.$color--text-base};
  --color--text-light: #{variables.$color--text-light};
  --color--text-white: #{variables.$color--text-white};

  --color--error-dark: #{variables.$color--error-dark};
  --color--error-base: #{variables.$color--error-base};

  --color--warn-dark: #{variables.$color--warn-dark};
  --color--warn-base: #{variables.$color--warn-base};

  --color--success-dark: #{variables.$color--success-dark};
  --color--success-base: #{variables.$color--success-base};
}

.dark{
  --color--main-base: #{variables.$dark-color--main-base};

  --color--background: #{variables.$dark-color--background};

  --color--lines: #{variables.$dark-color--lines};

  --color--text-base: #{variables.$dark-color--text-base};
  --color--text-white: #{variables.$dark-color--text-white};
}

body{
  background-color: var(--color--background);
  color: var(--color--text-base);
  position: relative;
  overflow-x: hidden;
  font-size: variables.$text--base;
}

.is-modal-open{
  overflow: hidden;
  position: fixed;
}

.heading--secondary{
  font-size: variables.$text--lg;
  font-weight: variables.$text-weight--regular
}

.container{
  display: flex;
  flex-direction: column;

  &--empty{
    @extend .container;
    padding: variables.$space-3xl 0;
  }

  &--buttons{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 variables.$space-lg;
    column-gap: variables.$space-lg;
  }
}